{% extends 'df_goods/base.html' %}


{% block body %}

    <div class="navbar_con">
        <div class="navbar clearfix">
            <div class="subnav_con fl">
                <h1>全部商品分类</h1>
                <span></span>
                <ul class="subnav">
                    <li><a href="/goods/list1_1_1/" class="fruit">新鲜水果</a></li>
                    <li><a href="/goods/list2_1_1/" class="seafood">海鲜水产</a></li>
                    <li><a href="/goods/list3_1_1/" class="meet">猪牛羊肉</a></li>
                    <li><a href="/goods/list4_1_1/" class="egg">禽类蛋品</a></li>
                    <li><a href="/goods/list5_1_1/" class="vegetables">新鲜蔬菜</a></li>
                    <li><a href="/goods/list6_1_1/" class="ice">速冻食品</a></li>
                </ul>
            </div>
            <ul class="navlist fl">
                <li><a href="/">首页</a></li>
                <li class="interval">|</li>
                <li><a href="">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="">抽奖</a></li>
            </ul>
        </div>
    </div>

    <div class="breadcrumb">
        <a href="#">全部分类</a>
        <span>></span>
        <a href="#">{{ title }}</a>
    </div>

    <div class="main_wrap clearfix">
        <div class="l_wrap fl clearfix">
            <div class="new_goods">
                <h3>新品推荐</h3>
                <ul>
                    {% for foo in new %}
                        <li>
                            <a href="/detail/{{ foo.id }}/"><img src="/upload/{{ foo.gpic }}"></a>
                            <h4><a href="/detail/{{ foo.id }}/">{{ foo.gtitle }}</a></h4>
                            <div class="prize">￥{{ foo.gprice }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="r_wrap fr clearfix">
            <div class="sort_bar">
                <a href="/goods/list{{ typeinfo.id }}_1_{{ page.number }}/"
                    {% if  sort  == 1 %}
                   class="active"
                        {% endif %}
                >默认</a>
                <a href="/goods/list{{ typeinfo.id }}_2_{{ page.number }}/"
                        {% if  sort  == 2 %}
                   class="active"
                        {% endif %}
                >价格(由高到低)</a>
                <a href="/goods/list{{ typeinfo.id }}_3_{{ page.number }}/"
                        {% if  sort  == 3 %}
                   class="active"
                        {% endif %}
                >价格(由低到高)</a>
                <a href="/goods/list{{ typeinfo.id }}_4_{{ page.number }}/"
                        {% if  sort  == 4 %}
                   class="active"
                        {% endif %}
                >人气</a>
            </div>

            <ul class="goods_type_list clearfix">
                {% for good in page %}
                    <li>
                        <a href="/goods/detail/{{ good.id }}/"><img src="/upload/{{ good.gpic }}"></a>
                        <h4><a href="/detail/{{ good.id }}/">{{ good.gtitle }}</a></h4>
                        <div class="operate">
                            <span class="prize">￥{{ good.gprice }}</span>
                            <span class="unit">{{ good.gunit }}</span>
                            <a href="/cart/add{{ good.id }}_1" class="add_goods" title="加入购物车"></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            / 分页效果
            <div class="pagenation">
                {% if page.has_previous %}
                    <a href="/goods/list{{ typeinfo.id }}_{{ sort }}_{{ page.previous_page_number }}/">&lt;上一页</a>
                {% else %}
                    <a href="/goods/list{{ typeinfo.id }}_{{ sort }}_1/">&lt;上一页</a>
                {% endif %}

                {% if page.number <= 5 %}   <!--当前页面数小于3时-->
                    {% for page_num in paginator.page_range %}
                        {% if forloop.counter <= 5 %}
                            <a href="/goods/list{{ typeinfo.id }}_{{ sort }}_{{ page_num }}/"
                                    {% if page.number == page_num %}
                               class="active"
                                    {% endif %}
                            >{{ page_num }}</a>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% if page.number|add:1 > paginator.num_pages %}
                        <a href="/goods/list{{ typeinfo.id }}_{{ sort }}_{{ page.number|add:-4 }}/">{{ page.number|add:-4 }}</a>
                    {% endif %}
                    {% if page.number|add:2 > paginator.num_pages %}
                        <a href="/goods/list{{ typeinfo.id }}_{{ sort }}_{{ page.number|add:-3 }}/">{{ page.number|add:-3 }}</a>
                    {% endif %}
                    <a href="/goods/list{{ typeinfo.id }}_{{ sort }}_{{ page.number|add:-2 }}/">{{ page.number|add:-2 }}</a>
                    <a href="/goods/list{{ typeinfo.id }}_{{ sort }}_{{ page.number|add:-1 }}/">{{ page.number|add:-1 }}</a>
                    <a href="/goods/list{{ typeinfo.id }}_{{ sort }}_{{ page.number }}/"
                       class="active">{{ page.number }}</a>
                    {% if page.number|add:1 <= paginator.num_pages %}
                        <a href="/goods/list{{ typeinfo.id }}_{{ sort }}_{{ page.number|add:1 }}/">{{ page.number|add:1 }}</a>
                    {% endif %}
                    {% if page.number|add:2 <= paginator.num_pages %}
                        <a href="/goods/list{{ typeinfo.id }}_{{ sort }}_{{ page.number|add:2 }}/">{{ page.number|add:2 }}</a>
                    {% endif %}
                {% endif %}

                {% if page.has_next %}
                    <a href="/goods/list{{ typeinfo.id }}_{{ sort }}_{{ page.next_page_number }}/">下一页&gt;</a>
                    <!--<script>console.log('{{paginator.num_pages}}')</script>-->
                {% else %}
                    <a href="/goods/list{{ typeinfo.id }}_{{ sort }}_{{ paginator.num_pages }}/">下一页&gt;</a>

                {% endif %}
            </div>

        </div>
    </div>

{% endblock body %}